*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1660px;
    width: 82%;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .img-part{
    padding: 16px 120px;

}
.menu-part .menu{
    display: flex;
    gap: 32px;
    
}

.menu-part .menu li{
    list-style-type: none;
}

.menu-part .menu li a{
    text-decoration: none;
    color: #000000;
}

.button-part button{
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
}