*{
    margin: 0;
    padding: 0;
    font-family: "Inter",
}

.container{
    max-width: 1660px;
    width: 82%;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .img-part{
    padding: 16px 0px;

}
.menu-part .menu{
    display: flex;
    gap: 32px;
    
}

.menu-part .menu li{
    list-style-type: none;
}

.menu-part .menu li a{
    text-decoration: none;
    color: #000000;
}

.button-part button{
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
}
.hero-part{
    text-align: center;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    margin: auto;
}

.hero-part .banner .access-btn{
    padding-top: 70px;
}
.hero-part .banner .access-btn button{
    border-radius: 1000px;
    padding: 8px 12px;
}
.hero-part .banner .hero-text-part h1{
    color: white;
    text-transform: capitalize;
    line-height: 84px;
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
}
.hero-part .banner .hero-text-part h1 span{
    color: rgba(48, 184, 104, 1);
}
.hero-part .banner .hero-text-part p{
    margin-top: 16px;
    padding: 0 250px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.hero-part .banner .hero-btn-part{
     padding: 32px 0 134px 0;
     
}
.hero-part .banner .hero-btn-part .btn1{
   background-color: #30B868;
   padding: 12px 16px;
   border-radius: 4px;
   color: white;
}
.hero-part .banner .hero-btn-part .btn2{
    background-color: #30B868;
    padding: 12px 16px;
    border-radius: 4px;
    color: white;
}

.dot{
    background-color: green;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--#30b86967, rgba(70, 145, 101, .25));
    display: inline-block;
}